<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <h1>Criar Conta</h1>
    <form action="/auth/cadastro" method="post">
        Nome: <input type="text" name="nome" required>
        <br><br>
        Email: <input type="email" name="email" required>
        <br><br>
        Senha: <input type="password" name="senha" minlength="4">
        <br><br>
        <input type="submit" value="Cadastrar">



        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
    <P>Já tem conta? <a href="/auth/login">Entrar</a></P>
</body>

</html>